<title>{{user.username}}'s Profile</title>

<body>
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #173753;">
        
        {{!-- Navbar logo --}}
        <a class="navbar-brand" href="/#" style="color: white;">Faire</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            {{!-- Navbar links --}}
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#createUser" style="color: white;">Create User<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#createBoard" style="color: white;">Create Board</a>
                </li>
            </ul>
        </div>

    </nav>
</body>


{{!-- Username and avatar display --}}
<div class="jumbotron" style="background-color: #98CAEC;">
    <div class="title-row">
        <div class="avatar-column">

            <div class="avatar-box">
                <img class="profile-pic" src={{user.avatar}} />
            </div> 

        </div>

        <div class="title-column">
            <h1 class="display-4">{{user.username}}'s Profile</h1>
        </div>

    </div>
</div>


{{!-- Tasks and boards --}}
<div class="tasks-boards-flexbox">
    <div class='flexbox-row'>
        <div class='flexbox-column'>
            <div class="assignheader">
                Assigned Tasks
            </div>
            {{#each tasks}}
                <div class='todo-column1'>
                    <div class="card1">
                    <div class="cardbodyass" id='${task.id}' style="${(task.priority =="Low") ? "border: 5px solid green;": (task.priority =="Medium") ? "border: 5px solid yellow;" : (task.priority =="High") ? "border: 5px solid orange;" : "border: 5px solid red;"}">
                        <h4 class="card-title">{{this.taskName}} </h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.deadline}}</h6>
                        <h5 class="card-text">{{this.taskDescription}}</h5>
                    </div>
                </div>
                </div>
            {{/each}}
        </div>
        <div class='flexbox-column'>
            <div class="assignheader">
                Assigned Boards
            </div>
            {{#each boards}}
                <div class="todo-column1" >
                    <div class="card1">
                <a href='/boards/{{this.id}}'>
                    <div class="cardbodyass">
                        <h4 class="card-title">{{this.name}}</h4>
                        <h5 class="card-subtitle mb-2 text-muted">{{this.description}}</h5>
                    </div>
                </div>
                </a>
                </div>
            {{/each}}
        </div>
    </div>
</div>


{{!-- Create User popup --}}
<div id="createUser" class="overlay">
    <div class="popup">

        <h2>Create User</h2>

        <a class="close" href="#">&times;</a>
        <div class="content">

            <form action='/users/create' method='POST'>

                <label>Username:</label>
                <input type='text' name = 'username' required/><br>

                <label>Avatar URL:</label>
                <input type='url' name ='avatar' required/><br>

                <button class="popupbtn">SUBMIT</button>

            </form>
        </div>
    </div>
</div>


{{!-- Create Board popup --}}
<div id="createBoard" class="overlay">
    <div class="popup">

        <h2>Create Board</h2>
        <a class="close" href="#">&times;</a>

        <div class="content">

            <form action='/boards/create' method='POST'>

                <label>Name:</label>
                <input type='text' name = 'name' required/><br>

                <label>Description:</label>
                <input type='text' name ='description' required/><br>

                <button class="popupbtn">SUBMIT</button>

            </form>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
